<div class="modal fade" id="taskModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="taskModalTitle">Add a new Task</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="taskForm">
                    <input type="hidden" name="Id" id="taskId" />
                    <div class="mb-3">
                        <h5>Name</h5>
                        <input type="text" id="taskName" name="Name" required style="width: 100%;"/>
                    </div>
                    <div class="mb-3">
                        <h5>Due Date & Time</h5>
                        <input type="datetime-local" id="dueDate" name="DueDate" required style="width: 100%;"/>
                    </div>
                    <h4>Objectives:</h4>
                    <div id="objectivesContainer" class="d-flex flex-wrap gap-1">
                        <!-- Objectives inserted dynamically -->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="addObjectiveBtn">Add Objective</button>
                <button class="btn btn-primary" id="saveBtn">Save</button>
            </div>
        </div>
    </div>
</div>
