@model ProgressTracker.Models.SmallTask;

@{
    <div class="container task-header">
        <div class="task-header-left">
            <button class="btn"><i class="bi bi-trash icon-colour" ></i></button>
        </div>
        <div class="task-header-centre">
            <h4>@Model.Name</h4>
        </div>
        <div class="task-header-right">
            <button class="btn"><i class="bi bi-pencil icon-colour"></i></button>
        </div>
    </div>
}