@model ProgressTracker.Models.SmallTask;

<div class="container task-header">
    <div class="task-header-left">
        <button class="btn"><i class="bi bi-trash icon-colour" ></i></button>
    </div>
    <div class="task-header-centre">
        <h4>@Model.Name</h4>
    </div>
    <div class="task-header-right">
        <button class="btn"><i class="bi bi-pencil icon-colour"></i></button>
    </div>
</div>
<div class="sm-task-stats">
    @if (Model.Objectives != null && Model.Objectives.Any())
    {
        <i class="bi bi-plus-circle"></i>
        <label>You have completed 0/@Model.Objectives.Count() objectives</label>
    }
</div>
<div class="sm-task-body">
    <div class="form-check">
        @if (Model.Objectives != null && Model.Objectives.Any())
        {
            @foreach (var objective in Model.Objectives)
            {
                @if ( objective != null && objective.Name != string.Empty)
                {
                    <div class="sm-form-check">
                        <input class="form-check-input" type="checkbox" value="" id="@objective.Name">
                        <label class="form-check-label" for="@objective.Name" id="name-label">
                            Volcanoes
                        </label>
                        <label class="form-check-label" for="@objective.Name">
                            Study chapter 1,2,3 of Geography (Pages 70-115). blah blah blah blah blah
                        </label>
                    </div>
                }
            }
        }
    </div>
</div>