@page
@model LoginModel
@{
    ViewData["Title"] = "ProgressTracker";
}

<head>
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>
    <h2>Apologies, I haven't gotten this far yet. The SendGrid implementation will be coming to a ProgressTracker near you soon!</h2>
</body>