@page
@model RegisterModel
@{
    ViewData["Title"] = "ProgressTracker Register";
}

<head>
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>
    <div class="wrapper">
        <form id="register" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>Create a new account</h1>

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="input-box">
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="input-box">
                <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="New password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="input-box">
                <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Confirm password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="btn">Register</button>
        </form>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
