:root {
    --background-colour: #442d1c;
    --task-colour: #84592b;
    --task-text-colour: #F3F3E0;
    --objective-colour: #6D6941;
    --objective-text-colour: #E2C7A1;
    --task-border-colour: #743014;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #442d1c 0%,
        #442d1c 50%,
        #84592b 75%,
        #743014 100%
    );
}

body h2 {
    padding-right: 2rem;
    color: var(--objective-text-colour);
}

.wrapper {
    width: 420px;
    background: linear-gradient(
        to bottom,
        #442d1c 0%,
        #442d1c 50%,
    );
    color: var(--objective-text-colour);
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box  {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid var(--task-border-colour);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: var(--objective-text-colour);
    padding: 20px 45px 20px 20px;
}

.input-box span {
    margin-right: 3px;
}

.input-box input::placeholder {
    color: var(--objective-text-colour);
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.remember-forgot label input {
    accent-color: var(--objective-text-colour);
    margin-right: 3px;
}

.remember-forgot a {
    color: var(--objective-text-colour);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: var(--objective-text-colour);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: var(--task-colour);
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: var(--objective-text-colour);
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.register-link p a:hover {
    text-decoration: underline;
}