:root {
    --navbar-height: 60px;
    --fullview-navbar: calc(100vh - var(--navbar-height));
}

nav {
    display: flex;
    height: var(--navbar-height);
    background-color: #66A5AD;
    justify-content: center;
    align-items: center;
}

.navbar-section {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-section.right, .navbar-section.left, .navbar-section.center {
    flex: 1 1 20%;
    justify-content: center;
}
.navbar-section.center {
    flex: 1 1 60%;
}

nav a {
    color: black; 
    text-decoration: none; 
}

nav a:hover {
    
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-6, .col-md-3 {
    padding: 10px;
    min-height: var(--fullview-navbar);
    background-color: #C4DFE6;
}

.col-md-3 {
    flex: 1 1 20%; /* Take up 20% of the width */
}

.col-md-6 {
    flex: 1 1 60%; /* Take up 60% of the width */
}

.task-container-fluid, .container-fluid {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.small-task, .medium-task, .large-task {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px;
}

.small-task {
    background-color: #66A5AD;
    flex: 0 1 50%;
}

.medium-task {
    background-color: #66A5AD;
    flex: 1 1 30%;
}

.large-task {
    background-color: #66A5AD;
    flex: 1 1 50%;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    flex: 0 1 10%;
}

.task-header-left, .task-header-centre, .task-header-right {
    display: inline-block;
}

.task-header-centre {
    text-align: center;
    padding-top: 10px;
}

.add-task-body {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
    flex-grow: 1;
    height: 100%;
}
.btn-add-task {
    font-size: 50px;
}

.logo {
    width: 80px;
    height: auto;
}