:root {
    --navbar-height: 60px;
    --adjusted-vh: calc(100vh - var(--navbar-height));
}

.col-md-6, .col-md-3 {
    background-color: beige;
    padding: 0px;
}

.small-task {
    height: 46.3vh;
    background-color: aquamarine;
    border-radius: 20px;
    margin: 10px;
}

.medium-task {
    height: 23vh;
    background-color: rebeccapurple;
    border-radius: 20px;
    margin: 10px;
}

.large-task {
    height: 46.6vh;
    background-color: lawngreen;
    border-radius: 20px;
    margin: 10px;
}

.task_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.left, .centre, .right {
    display: inline-block;
}

.centre {
    text-align: center;
    padding-top: 10px;
}


